treta1_blink.node
[{"id":"bbf2fd2e.c4e7e","type":"inject","z":"4ce6a0bd.d745c","name":"2 segundos","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["ea880489.241c68"]]},{"id":"83f88c8f.71ba78","type":"arduino out","z":"4ce6a0bd.d745c","name":"Controla Pin 13","pin":"13","state":"OUTPUT","arduino":"d2f22d4a.0a6018","x":610,"y":100,"wires":[]},{"id":"ea880489.241c68","type":"function","z":"4ce6a0bd.d745c","name":"Liga_desliga","func":"context.liga = !context.liga || false;\nmsg.payload = context.liga;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["83f88c8f.71ba78","ef4aeb28.e52ec"]]},{"id":"ef4aeb28.e52ec","type":"debug","z":"4ce6a0bd.d745c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]},{"id":"d2f22d4a.0a6018","type":"arduino-board","z":"","device":"/dev/cu.usbmodemFA131"}]