DiretoParaAmazon/arduino_aws.node
[{"id":"7edee709.37a898","type":"debug","z":"79e7ab8d.cf5b84","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":590,"y":260,"wires":[]},{"id":"8f48b6cb.01b6c","type":"gpio in","z":"79e7ab8d.cf5b84","name":"A0","state":"ANALOG","samplingInterval":"5000","pin":"0","board":"6f936954.306468","x":90,"y":260,"wires":[["9c122e1a.c41e28"]]},{"id":"9c122e1a.c41e28","type":"function","z":"79e7ab8d.cf5b84","name":"Transformar","func":"T0 = 25 + 273.15;  \nRT0 = 1000;\nB = 3977;\nVCC = 5;\nR = 1000;\nVRT = msg.payload;\nVRT = (5.00 / 1023.00) * VRT;      \nVR = VCC - VRT;\nRT = VRT / (VR / R);               \n\nln = Math.log(RT / RT0);\nTX = (1 / ((ln / B) + (1 / T0))); \n\nTX = TX - 273.15;\nd = new Date();\nmsg.topic = \"temp\"\nmsg.payload = {\"temperatura\":TX}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["7edee709.37a898","1c2340e4.0e101f"]]},{"id":"1c2340e4.0e101f","type":"aws-mqtt out","z":"79e7ab8d.cf5b84","device":"7575e9bb.a27dc8","topic":"temp","qos":0,"x":640,"y":320,"wires":[]},{"id":"6f936954.306468","type":"nodebot","z":"79e7ab8d.cf5b84","name":"nodebot arduino","username":"","password":"","boardType":"firmata","serialportName":"/dev/cu.usbmodemFD121","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":""},{"id":"7575e9bb.a27dc8","type":"aws-iot-device","z":"79e7ab8d.cf5b84","name":"meditorTemperatura","mode":"broker","clientId":"medidorTemperatura","endpoint":"nnnnnnnnnnn.iot.us-east-1.amazonaws.com","awscerts":"/Users/cleuton/Documents/projetos/iotreta/certs"}]